<h1>Editing Notice</h1>

<%= render 'form', notice: @notice %>

<div class="w3-center">
<div class="w3-bar">
<%= link_to 'Show', @notice, class:'w3-btn w3-teal w3-round w3-lime' %> 
<%= link_to 'Back', notices_path, class:'w3-btn w3-round w3-black' %>
</div>
</div>