<h1>Editing Diagnosis</h1>

<%= render 'form', diagnosis: @diagnosis %>
<div class="w3-center">
<div class="w3-bar">

<%= link_to 'Show', @diagnosis, class:'w3-btn w3-teal w3-round' %> 
<%= link_to 'Back', diagnoses_path, class:'w3-btn w3-black w3-round' %>
</div>
</div>
