<h1>Editing User</h1>

<%= render 'form', user: @user %>
 <div class="w3-center w3-padding">
<div class="w3-bar">
<%= link_to 'Show', @user, class: 'w3-btn w3-round w3-green' %>
<%= link_to 'Back', users_path, class: 'w3-btn w3-round w3-black'  %>
</div>
</div>