<h1>Editing Ward</h1>

<%= render 'form', ward: @ward %>

<div class="w3-center">
<div class="w3-bar">
<%= link_to 'Show', @ward, class:'w3-btn w3-teal w3-round' %>
<%= link_to 'Back', wards_path, class:'w3-btn w3-black w3-round' %>
</div>
</div>