<% if notice %>
  <div class="w3-panel w3-pale-green w3-border">
<p id="notice"><%= notice %></p>
</div>
<% end %>
<table class="w3-table-all">
	<tr>
		<th>
			Name:
		</th>
		<td>
  <%= @ward.name %>
			
		</td>
	</tr>
</table>

<div class="w3-center">
<div class="w3-bar">
<%= link_to 'Edit', edit_ward_path(@ward), class:'w3-btn w3-round w3-lime' %>
<%= link_to 'Back', wards_path , class:'w3-btn w3-round w3-black'%>
</div>
</div>
