<h1>Editing Admission</h1>

<%= render 'form', admission: @admission %>

 <div class="w3-center">
<div class="w3-bar">

<%= link_to 'Show', @admission , class: 'w3-btn w3-teal w3-round' %> 
<%= link_to 'Back', admissions_path , class: 'w3-btn w3-black w3-round' %>
</div>
</div> 

